@mixin flex($justify:center, $align:center, $direction:row, $wrap:nowrap, $gap:0){
    display: flex;
    justify-content: $justify;
    align-items:$align ;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin position($position, $top:auto, $right:auto, $bottom:auto, $left:auto){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin grid(){
    //to do next clas
}