/***********************
EXTERNAL FILES
************************/
/***********************
PARTIALS
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  transition: all 0.4s linear; }

body {
  overflow-x: hidden;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5; }
  @media (max-width: 576px) {
    body {
      font-size: 85%; } }

img {
  width: 100%;
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize; }

section {
  padding: 70px 0px; }

.container {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 576px) {
    .container {
      width: 90%; } }

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  color: #040F28; }
  .section-title span {
    color: #fe5d15; }
  @media (max-width: 576px) {
    .section-title {
      font-size: 1.8rem; } }

.btn {
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fe5d15;
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  position: relative; }
  .btn::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0px;
    height: 5px;
    left: 50%;
    background: #040F28;
    transition: .5s linear; }
  .btn:hover::after {
    width: 50%;
    left: 25%; }
  @media (max-width: 576px) {
    .btn {
      padding: 0.8rem 1.5rem; } }

.top-navbar {
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0; }
  @media (max-width: 992px) {
    .top-navbar {
      display: none; } }
  .top-navbar_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem; }
    .top-navbar_item i {
      color: #fe5d15;
      font-size: 2rem; }
    .top-navbar_item .top-navbar_info .top-navbar_h4 {
      text-transform: uppercase;
      letter-spacing: 1.2px; }
    .top-navbar_item .top-navbar_info .top-navbar_p {
      font-size: 0.9rem; }

.navbar {
  background-color: #040F28;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  position: relative; }
  .navbar .navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.7rem;
    padding-left: 2rem; }
    .navbar .navbar__logo i {
      color: #fe5d15;
      font-size: 2rem; }
      @media (max-width: 576px) {
        .navbar .navbar__logo i {
          font-size: 1.5rem; } }
    .navbar .navbar__logo .navbar__heading {
      color: #fff;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900; }
      @media (max-width: 576px) {
        .navbar .navbar__logo .navbar__heading {
          font-size: 1.5rem; } }
  .navbar .navbar__list {
    display: flex;
    gap: 1.7rem; }
    @media (max-width: 992px) {
      .navbar .navbar__list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #040F28;
        flex-direction: column;
        padding-left: 2rem; }
        .navbar .navbar__list.show {
          display: none; } }
    .navbar .navbar__list .navbar__listItem {
      padding: 2rem 0; }
      @media (max-width: 992px) {
        .navbar .navbar__list .navbar__listItem {
          padding: .2rem 0; } }
      .navbar .navbar__list .navbar__listItem .navbar__link {
        color: #fff;
        text-transform: uppercase; }
        .navbar .navbar__list .navbar__listItem .navbar__link:hover {
          color: #fe5d15; }
      .navbar .navbar__list .navbar__listItem .activ {
        color: #fe5d15; }
      .navbar .navbar__list .navbar__listItem:nth-child(4) {
        position: relative; }
        .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu {
          position: absolute;
          top: 5.5rem;
          background-color: orange; }
          @media (max-width: 992px) {
            .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu {
              position: static;
              margin-top: 1rem; } }
          .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu .navbar__submenu__list .navbar__submenu__item {
            padding: 3px 25px 3px 7px; }
            .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu .navbar__submenu__list .navbar__submenu__item:hover {
              background-color: lightblue; }
            .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu .navbar__submenu__list .navbar__submenu__item .navbar__submenu__link {
              font-size: 0.9rem; }
        .navbar .navbar__list .navbar__listItem:nth-child(4) .hidden {
          display: none; }
    .navbar .navbar__list .secondary {
      background-color: #fe5d15;
      padding-right: 2rem;
      padding-left: 1rem; }
      @media (max-width: 992px) {
        .navbar .navbar__list .secondary {
          display: none; } }
  .navbar .hamburger {
    color: #fff;
    font-size: 2rem;
    display: none;
    cursor: pointer; }
    @media (max-width: 992px) {
      .navbar .hamburger {
        display: block;
        margin-right: 2rem; } }
    @media (max-width: 576px) {
      .navbar .hamburger {
        font-size: 1.5rem; } }

.banner {
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/carousel-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0; }
  .banner__icon {
    color: #fe5d15;
    font-size: 3rem;
    margin-bottom: 1rem; }
  .banner__heading {
    font-size: 3.5rem;
    color: #fff;
    max-width: 600px;
    text-align: center;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .banner__heading {
        font-size: 2.5rem; } }
    @media (max-width: 576px) {
      .banner__heading {
        font-size: 2rem; } }

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem; }
  @media (max-width: 1200px) {
    .about {
      justify-content: center; } }
  .about article {
    flex-basis: 45%; }
    @media (max-width: 1200px) {
      .about article {
        flex-basis: 80%; } }
    @media (max-width: 576px) {
      .about article {
        flex-basis: 100%; } }
    .about article.about__text .about__h2 {
      text-align: left; }
    .about article.about__text .about__h4 {
      padding: 1.5rem 0;
      font-size: 1.3rem; }
      @media (max-width: 576px) {
        .about article.about__text .about__h4 {
          font-size: 1rem; } }
    .about article.about__text .about__p,
    .about article.about__text .about__p1 {
      font-size: 0.8rem; }
    .about article.about__text .about__lists {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0;
      padding: 1.5rem 0; }
      .about article.about__text .about__lists .about__list .about__item {
        font-size: 0.8rem; }
        .about article.about__text .about__lists .about__list .about__item i {
          color: #fe5d15;
          margin-right: 10px; }
    .about article.about__img img {
      height: 500px; }
      @media (max-width: 576px) {
        .about article.about__img img {
          height: 400px; } }

/*# sourceMappingURL=style.css.map */
