/***********************
EXTERNAL FILES
************************/
/***********************
PARTIALS
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  transition: all 0.4s linear; }

body {
  overflow-x: hidden;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5; }
  @media (max-width: 576px) {
    body {
      font-size: 85%; } }

img {
  width: 100%;
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize; }

section {
  padding: 70px 0px; }

.container {
  width: 90%;
  margin: 0 auto; }
  @media (max-width: 576px) {
    .container {
      width: 90%; } }

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  color: #040F28; }
  .section-title span {
    color: #fe5d15; }
  @media (max-width: 576px) {
    .section-title {
      font-size: 1.8rem; } }

.btn {
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fe5d15;
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  position: relative; }
  .btn::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0px;
    height: 5px;
    left: 50%;
    background: #040F28;
    transition: .5s linear; }
  .btn:hover::after {
    width: 50%;
    left: 25%; }
  @media (max-width: 576px) {
    .btn {
      padding: 0.8rem 1.5rem; } }

.top-navbar {
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0; }
  @media (max-width: 992px) {
    .top-navbar {
      display: none; } }
  .top-navbar_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem; }
    .top-navbar_item i {
      color: #fe5d15;
      font-size: 2rem; }
    .top-navbar_item .top-navbar_info .top-navbar_h4 {
      text-transform: uppercase;
      letter-spacing: 1.2px; }
    .top-navbar_item .top-navbar_info .top-navbar_p {
      font-size: 0.9rem; }

.navbar {
  background-color: #040F28;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  position: relative; }
  .navbar .navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.7rem;
    padding-left: 2rem; }
    .navbar .navbar__logo i {
      color: #fe5d15;
      font-size: 2rem; }
      @media (max-width: 576px) {
        .navbar .navbar__logo i {
          font-size: 1.5rem; } }
    .navbar .navbar__logo .navbar__heading {
      color: #fff;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900; }
      @media (max-width: 576px) {
        .navbar .navbar__logo .navbar__heading {
          font-size: 1.5rem; } }
  .navbar .navbar__list {
    display: flex;
    gap: 1.7rem; }
    @media (max-width: 992px) {
      .navbar .navbar__list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #040F28;
        flex-direction: column;
        padding-left: 2rem; }
        .navbar .navbar__list.show {
          display: none; } }
    .navbar .navbar__list .navbar__listItem {
      padding: 2rem 0; }
      @media (max-width: 992px) {
        .navbar .navbar__list .navbar__listItem {
          padding: .2rem 0; } }
      .navbar .navbar__list .navbar__listItem .navbar__link {
        color: #fff;
        text-transform: uppercase; }
        .navbar .navbar__list .navbar__listItem .navbar__link:hover {
          color: #fe5d15; }
      .navbar .navbar__list .navbar__listItem .activ {
        color: #fe5d15; }
      .navbar .navbar__list .navbar__listItem:nth-child(4) {
        position: relative; }
        .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu {
          position: absolute;
          top: 5.5rem;
          background-color: orange; }
          @media (max-width: 992px) {
            .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu {
              position: static;
              margin-top: 1rem; } }
          .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu .navbar__submenu__list .navbar__submenu__item {
            padding: 3px 25px 3px 7px; }
            .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu .navbar__submenu__list .navbar__submenu__item:hover {
              background-color: #F4F6F8; }
            .navbar .navbar__list .navbar__listItem:nth-child(4) .navbar__submenu .navbar__submenu__list .navbar__submenu__item .navbar__submenu__link {
              font-size: 0.9rem; }
        .navbar .navbar__list .navbar__listItem:nth-child(4) .hidden {
          display: none; }
    .navbar .navbar__list .secondary {
      background-color: #fe5d15;
      padding-right: 2rem;
      padding-left: 1rem; }
      @media (max-width: 992px) {
        .navbar .navbar__list .secondary {
          display: none; } }
  .navbar .hamburger {
    color: #fff;
    font-size: 2rem;
    display: none;
    cursor: pointer; }
    @media (max-width: 992px) {
      .navbar .hamburger {
        display: block;
        margin-right: 2rem; } }
    @media (max-width: 576px) {
      .navbar .hamburger {
        font-size: 1.5rem; } }

.banner {
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/carousel-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0; }
  .banner__icon {
    color: #fe5d15;
    font-size: 3rem;
    margin-bottom: 1rem; }
  .banner__heading {
    font-size: 3.5rem;
    color: #fff;
    max-width: 600px;
    text-align: center;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .banner__heading {
        font-size: 2.5rem; } }
    @media (max-width: 576px) {
      .banner__heading {
        font-size: 2rem; } }

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem; }
  @media (max-width: 1200px) {
    .about {
      justify-content: center; } }
  .about article {
    flex-basis: 45%; }
    @media (max-width: 1200px) {
      .about article {
        flex-basis: 80%; } }
    @media (max-width: 576px) {
      .about article {
        flex-basis: 100%; } }
    .about article.about__text .about__h2 {
      text-align: left; }
    .about article.about__text .about__h4 {
      padding: 1.5rem 0;
      font-size: 1.3rem; }
      @media (max-width: 576px) {
        .about article.about__text .about__h4 {
          font-size: 1rem; } }
    .about article.about__text .about__p,
    .about article.about__text .about__p1 {
      font-size: 0.8rem; }
    .about article.about__text .about__lists {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0;
      padding: 1.5rem 0; }
      .about article.about__text .about__lists .about__list .about__item {
        font-size: 0.8rem; }
        .about article.about__text .about__lists .about__list .about__item i {
          color: #fe5d15;
          margin-right: 10px; }
    .about article.about__img img {
      height: 500px; }
      @media (max-width: 576px) {
        .about article.about__img img {
          height: 400px; } }

.services {
  background-color: #F4F6F8; }
  .services .section-title {
    max-width: 500px;
    margin: auto;
    margin-bottom: 2rem; }
  .services .services__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem; }
    @media (max-width: 768px) {
      .services .services__wrapper {
        justify-content: center; } }
    .services .services__wrapper .services__item {
      flex-basis: 30%;
      position: relative; }
      .services .services__wrapper .services__item:hover .services__icon i {
        border: 2px solid #fe5d15; }
      @media (max-width: 1200px) {
        .services .services__wrapper .services__item {
          flex-basis: 45%; } }
      @media (max-width: 768px) {
        .services .services__wrapper .services__item {
          flex-basis: 90%; } }
      .services .services__wrapper .services__item .services__img .services__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0; }
        .services .services__wrapper .services__item .services__img .services__icon i {
          width: 80px;
          line-height: 80px;
          height: 80px;
          border-radius: 50%;
          text-align: center;
          background-color: #fff;
          color: #fe5d15;
          margin-top: -30px;
          font-size: 3rem; }
      .services .services__wrapper .services__item .services__text {
        text-align: center;
        padding: 1rem;
        background-color: #fff; }
        .services .services__wrapper .services__item .services__text .services__heading {
          font-size: 1.2rem;
          text-transform: uppercase;
          margin: 1rem 0; }
        .services .services__wrapper .services__item .services__text .services__p {
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
          text-align: justify; }
        .services .services__wrapper .services__item .services__text .services__link {
          color: #fe5d15;
          text-transform: uppercase;
          font-size: 0.9rem; }
          .services .services__wrapper .services__item .services__text .services__link::after {
            width: 50px;
            height: 3px;
            content: "";
            background-color: #fe5d15;
            display: block;
            margin: auto;
            opacity: 0;
            transition: .5s linear; }
          .services .services__wrapper .services__item .services__text .services__link:hover::after {
            opacity: 1; }

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0; }
  @media (max-width: 1200px) {
    .contact {
      justify-content: center;
      gap: 2rem; } }
  .contact__item:nth-child(1) {
    flex-basis: 38%; }
    @media (max-width: 1200px) {
      .contact__item:nth-child(1) {
        flex-basis: 80%; } }
    @media (max-width: 768px) {
      .contact__item:nth-child(1) {
        flex-basis: 100%; } }
    .contact__item:nth-child(1) .contact__heading {
      text-align: left;
      margin-bottom: 1rem; }
    .contact__item:nth-child(1) .contact__p {
      margin-bottom: 1.5rem;
      text-align: justify; }
  .contact__item:nth-child(2) {
    flex-basis: 58%; }
    @media (max-width: 1200px) {
      .contact__item:nth-child(2) {
        flex-basis: 80%; } }
    @media (max-width: 768px) {
      .contact__item:nth-child(2) {
        flex-basis: 100%; } }
    .contact__item:nth-child(2) .contact__form {
      background-color: #F4F6F8;
      padding: 2.5rem; }
      .contact__item:nth-child(2) .contact__form .contact__form-group {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem; }
        @media (max-width: 768px) {
          .contact__item:nth-child(2) .contact__form .contact__form-group {
            flex-direction: column; } }
        .contact__item:nth-child(2) .contact__form .contact__form-group .contact__input {
          color: #777;
          padding: 1rem;
          line-height: 1.5;
          display: block;
          width: 100%;
          font-size: 1.1rem; }
          @media (max-width: 576px) {
            .contact__item:nth-child(2) .contact__form .contact__form-group .contact__input {
              padding: 0.5rem;
              font-size: 0.9rem; } }
      .contact__item:nth-child(2) .contact__form .contact__textarea {
        width: 100%;
        padding: 1rem;
        font-size: 1.1rem; }
      .contact__item:nth-child(2) .contact__form .contact__submit {
        display: block;
        width: 100%; }

.projects {
  background-color: #F4F6F8; }
  .projects__heading {
    margin: auto;
    max-width: 550px; }
    @media (max-width: 576px) {
      .projects__heading {
        max-width: 400px; } }
  .projects__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    margin: 3rem 0; }
    @media (max-width: 576px) {
      .projects__btns {
        flex-direction: column; } }
    .projects__btns .project__btn {
      margin-right: 1rem; }
  .projects .project__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem; }
    .projects .project__wrapper .project__item {
      flex-basis: 30%;
      position: relative;
      margin-bottom: 3rem; }
      @media (max-width: 1200px) {
        .projects .project__wrapper .project__item {
          flex-basis: 45%; } }
      @media (max-width: 576px) {
        .projects .project__wrapper .project__item {
          flex-basis: 100%; } }
      .projects .project__wrapper .project__item .project__name {
        position: absolute;
        top: auto;
        right: 1rem;
        bottom: -3rem;
        left: 1rem;
        background-color: #fff;
        padding: 2rem; }
        .projects .project__wrapper .project__item .project__name .project__title {
          text-transform: uppercase; }
        .projects .project__wrapper .project__item .project__name i {
          color: #040F28; }

.team .section-title {
  padding-bottom: 3rem;
  max-width: 550px;
  margin: auto; }
.team .team__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0; }
  @media (max-width: 768px) {
    .team .team__wrapper {
      justify-content: center; } }
  .team .team__wrapper .team__item {
    flex-basis: 22%;
    background-color: #F4F6F8; }
    @media (max-width: 1200px) {
      .team .team__wrapper .team__item {
        flex-basis: 45%; } }
    @media (max-width: 768px) {
      .team .team__wrapper .team__item {
        flex-basis: 100%; } }
    .team .team__wrapper .team__item .team__img {
      display: flex; }
      .team .team__wrapper .team__item .team__img .team__icons a {
        margin-bottom: 2rem;
        color: #5c5555;
        padding-left: 0.5rem;
        display: block; }
        .team .team__wrapper .team__item .team__img .team__icons a::after {
          width: 100%;
          content: "";
          height: 2px;
          background-color: #fe5d15;
          display: block;
          margin-top: 5px;
          opacity: 0;
          transition: .5s linear; }
        .team .team__wrapper .team__item .team__img .team__icons a:hover::after {
          opacity: 1; }
    .team .team__wrapper .team__item .team__text {
      padding: 1.5rem; }
      .team .team__wrapper .team__item .team__text .team__name {
        font-size: 1.2rem;
        font-weight: 600; }
      .team .team__wrapper .team__item .team__text .team__position {
        font-size: 0.9rem; }

.blog .section-title {
  max-width: 450px;
  margin: auto; }
.blog .blog__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0rem; }
  @media (max-width: 768px) {
    .blog .blog__wrapper {
      justify-content: center; } }
  .blog .blog__wrapper .blog__item {
    background-color: #F4F6F8;
    flex-basis: 32%;
    margin-top: 2rem; }
    @media (max-width: 1200px) {
      .blog .blog__wrapper .blog__item {
        flex-basis: 47%; } }
    @media (max-width: 768px) {
      .blog .blog__wrapper .blog__item {
        flex-basis: 80%; } }
    @media (max-width: 576px) {
      .blog .blog__wrapper .blog__item {
        flex-basis: 100%; } }
    .blog .blog__wrapper .blog__item .blogName {
      font-size: 1.2rem;
      margin: 1.5rem 0px 1.5rem 20px; }
      @media (max-width: 576px) {
        .blog .blog__wrapper .blog__item .blogName {
          font-size: 1rem; } }
    .blog .blog__wrapper .blog__item .blog__link {
      color: #fe5d15;
      text-transform: uppercase;
      font-size: 0.8rem;
      margin-left: 20px; }
      .blog .blog__wrapper .blog__item .blog__link i {
        padding: 0px 0px 20px 5px; }
      .blog .blog__wrapper .blog__item .blog__link:hover {
        color: #040F28; }

footer {
  background-color: #040F28; }
  footer .footer__bottomLine {
    border-bottom: 2px solid #fe5d15; }
    footer .footer__bottomLine .footer__wrapper {
      display: flex;
      flex-wrap: wrap; }
      @media (max-width: 992px) {
        footer .footer__bottomLine .footer__wrapper {
          justify-content: center;
          align-items: center; } }
      footer .footer__bottomLine .footer__wrapper .footer__item:first-child {
        border-right: 2px solid #fe5d15; }
        @media (max-width: 992px) {
          footer .footer__bottomLine .footer__wrapper .footer__item:first-child {
            border-right: none;
            border-bottom: 2px solid #fe5d15; } }
        footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__logo h1 {
          display: inline;
          font-size: 3rem;
          color: #fff;
          text-transform: uppercase;
          padding-left: 10px; }
          @media (max-width: 992px) {
            footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__logo h1 {
              font-size: 2rem; } }
        footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__logo i {
          color: #fe5d15;
          font-size: 3rem; }
          @media (max-width: 992px) {
            footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__logo i {
              font-size: 2rem; } }
        footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__p {
          font-size: 0.8rem;
          margin: 1rem 0 0.8rem 0; }
        footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__info {
          display: flex;
          padding: 7px 0; }
          footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__info .blog__info-name {
            padding-left: 5px;
            font-size: 0.8rem; }
        footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__icons {
          margin-top: 1rem; }
          footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__icons .footer__iconsLink {
            position: relative;
            display: inline; }
            footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__icons .footer__iconsLink::after {
              display: block;
              content: "";
              position: absolute;
              top: auto;
              right: auto;
              bottom: -8px;
              left: 50%;
              width: 0px;
              height: 3px;
              background: #040F28;
              transition: .5s linear; }
            footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__icons .footer__iconsLink:hover::after {
              width: 50%;
              left: 25%; }
            footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__icons .footer__iconsLink a {
              color: #040F28;
              background-color: #fe5d15;
              width: 40px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              margin: 0 2px; }
              @media (max-width: 992px) {
                footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__icons .footer__iconsLink a {
                  width: 30px;
                  height: 30px;
                  line-height: 30px; } }
              footer .footer__bottomLine .footer__wrapper .footer__item:first-child .footer__icons .footer__iconsLink a:hover {
                color: #fff;
                opacity: 0.5; }
      footer .footer__bottomLine .footer__wrapper .footer__item {
        flex-basis: 50%;
        padding: 5rem 0px;
        color: rgba(255, 255, 255, 0.5); }
        @media (max-width: 992px) {
          footer .footer__bottomLine .footer__wrapper .footer__item {
            flex-basis: 70%; } }
        @media (max-width: 576px) {
          footer .footer__bottomLine .footer__wrapper .footer__item {
            padding: 3rem 0; } }
        footer .footer__bottomLine .footer__wrapper .footer__item .footer__item__wrapper {
          display: flex;
          justify-content: space-between;
          margin-left: 2rem; }
          @media (max-width: 992px) {
            footer .footer__bottomLine .footer__wrapper .footer__item .footer__item__wrapper {
              margin-left: 0; } }
          @media (max-width: 576px) {
            footer .footer__bottomLine .footer__wrapper .footer__item .footer__item__wrapper {
              flex-direction: column;
              gap: 1rem; } }
          footer .footer__bottomLine .footer__wrapper .footer__item .footer__item__wrapper .footer__block .footer__h4 {
            font-size: 1.2rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 1rem; }
          footer .footer__bottomLine .footer__wrapper .footer__item .footer__item__wrapper .footer__block .footer__list .footer__listItem {
            margin: 5px 0; }
            footer .footer__bottomLine .footer__wrapper .footer__item .footer__item__wrapper .footer__block .footer__list .footer__listItem a {
              color: rgba(255, 255, 255, 0.5);
              font-size: 0.8rem; }
            footer .footer__bottomLine .footer__wrapper .footer__item .footer__item__wrapper .footer__block .footer__list .footer__listItem i {
              font-size: 0.8rem; }
        footer .footer__bottomLine .footer__wrapper .footer__item .footer__newslater {
          font-size: 1.5rem;
          text-transform: uppercase;
          margin: 2rem 0 1rem 2rem; }
          @media (max-width: 992px) {
            footer .footer__bottomLine .footer__wrapper .footer__item .footer__newslater {
              margin-left: 0; } }
        footer .footer__bottomLine .footer__wrapper .footer__item .footer__form {
          margin-left: 2rem; }
          @media (max-width: 992px) {
            footer .footer__bottomLine .footer__wrapper .footer__item .footer__form {
              margin-left: 0; } }
          footer .footer__bottomLine .footer__wrapper .footer__item .footer__form input {
            width: 100%;
            padding: 1rem 1.3rem; }
  footer .footer__designer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0; }
    footer .footer__designer p {
      color: #fff;
      font-size: 0.8rem; }
      @media (max-width: 576px) {
        footer .footer__designer p {
          margin: auto;
          text-align: center; } }
    footer .footer__designer > p {
      color: #fff;
      padding-left: 5%; }
      footer .footer__designer > p .footer__spanSecondary {
        color: #fe5d15;
        padding-left: 3px; }
    footer .footer__designer .footer__designInfo {
      background-color: #fe5d15;
      padding: 1rem 5%;
      position: relative; }
      @media (max-width: 576px) {
        footer .footer__designer .footer__designInfo {
          background-color: #040F28;
          margin: auto;
          text-align: center; } }
      footer .footer__designer .footer__designInfo span {
        color: #040F28; }
        @media (max-width: 576px) {
          footer .footer__designer .footer__designInfo span {
            color: #fe5d15; } }
      @media (max-width: 992px) {
        footer .footer__designer .footer__designInfo p {
          padding-left: 2rem; } }
    footer .footer__designer .footer__shape::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 100%;
      top: 0;
      left: -40px;
      background-color: #fe5d15;
      transform: skew(40deg); }
      @media (max-width: 576px) {
        footer .footer__designer .footer__shape::before {
          display: none; } }

.scrollTop {
  display: none;
  padding: 0.8rem 1rem;
  background-color: #fe5d15;
  position: fixed;
  left: 50%;
  bottom: 0; }
  .scrollTop:hover {
    background-color: #e37441; }
  .scrollTop:hover i {
    color: #040F28; }
  .scrollTop i {
    color: #fff;
    font-size: 1.1rem; }

.scrollShow {
  display: block; }
  @media (max-width: 576px) {
    .scrollShow {
      display: none; } }

/*# sourceMappingURL=style.css.map */
